*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
.container{
    width: 80%;
    margin: auto;
}
/* NavBar */
nav{
    background-color:#373737;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 30px 80px;
}
nav > ul > li{
    display: inline-block;
    margin: 0 10px;
   
}
nav > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 5px;
    transition:border-bottom 0.5s;
    -webkit-transition:border-bottom 0.5s;
    -moz-transition:border-bottom 0.5s;
    -ms-transition:border-bottom 0.5s;
    -o-transition:border-bottom 0.5s;
    -webkit-transition:color 0.5s;
}
nav > ul > li > a:hover{
    border-bottom: 1px solid #00f;
}
.welcome{
    font-weight: bold;
    font-size: 20px;

}
.welcome > span{
    color: cadetblue;
    font-weight: bold;
}
 
@media (min-width: 408px) and (max-width: 979px) {
    nav{
        padding: 30px 20px;
    }
    nav > ul > li > a, .welcome {
    font-size: 15px;
}
.logo > img{
    width: 70%;
}
 }
 
 


/* Login && Register*/
.auth{
    width: 30%;
    margin: 40px auto 90px auto;
    background-color: #373737;
    padding: 30px 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    text-align: center;
}
.auth >h2{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
.auth > form > input,.auth > form > select{
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: unset;
    font-size: 20px;
}
.auth > form > button{
    border: unset;
    outline: unset;
    width: 250px;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #fff;
    color: #000;
    letter-spacing: 1px;
    transition: color 0.5s,background-color 0.5s;
    -webkit-transition: color 0.5s,background-color 0.5s;
    -moz-transition: color 0.5s,background-color 0.5s;
    -ms-transition: color 0.5s,background-color 0.5s;
    -o-transition: color 0.5s,background-color 0.5s;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
.auth > form > button:hover{
    background-color: #000;
    color: white;
    
}
.auth > p{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.auth > p >a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #9e9a9a;
    padding: 7px;
    transition:background-color 0.5s,border-radius 0.5s;
    -webkit-transition:background-color 0.5s,border-radius 0.5s;
    -moz-transition:background-color 0.5s,border-radius 0.5s;
    -ms-transition:background-color 0.5s,border-radius 0.5s;
    -o-transition:background-color 0.5s,border-radius 0.5s;
    cursor: pointer;

}
.auth > p >a:hover{
    background-color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (min-width: 830px) and (max-width: 1250px) {
    .auth{
        width: 50%;
    }
}
@media (min-width: 408px) and (max-width: 831px) {
    .auth{
        width: 70%;
    }
}


/* profile */
.profile{
    margin: 50px 0;
}
.profileHeader{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    background-color:cadetblue ;
    padding: 15px;
    color: #fff;
    text-align: center;
}
.profileContent{
    background-color:cadetblue;
    padding: 50px;
    display: flex;
    align-items: center;

}

.profileImg > img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profileInfo{
    margin-left: 30px;
}
.profileInfo > p{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}
.profileInfo > p > span{
    color:beige;
    font-weight: normal;
}

@media (min-width: 408px) and (max-width: 875px) {
.profileContent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileInfo{
    margin-left: 50px;
}
.profileInfo > p{
    font-size: 17px;
}
.profileImg {
    margin-left: 50px;
}
.profileImg > img{
width: 60%;
}
 }


 /* footer */
 
 .footer{
    background-color: #373737;
    margin: 0 auto;
    text-align: center;
   }
   
  
   .footer-content .footer-logo img{
      margin-top:20px;
      margin-bottom: 20px;
      width:200px;
      height: 140px;
   }
   
   .footer-content ul li{
    display: inline-block;
    background-color: #3367AB;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: bavkground-color 0.9s, border-radius 0.8s;
   }
   .footer-content ul li i{
    padding:20px;
    color: white;
   }
   
   .footer-content .copywrite div{
    padding-bottom: 60px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
   }
   
    .footer-content .copywrite span{
     color: cadetblue;
    }
    
    .footer-content ul li:hover{
     background-color:cadetblue;
     border-radius: 10%;
    }
    @media (min-width: 408px) and (max-width: 875px) {
        .footer-content .footer-logo img{
            width: 150px;
            height: 100px;
        }
        .footer-content ul li i{
            padding: 10px;
        }
        .footer-content .copywrite div {
            font-size: 13px;
        }
    }